body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttong {
  margin-right: 15px;

}

.buttonw {
  margin-bottom: 15px;
}

.margincrt{
  margin-top: 15px;
}

.marginbtn{
  margin-left: 41% !important;
  margin-top: 5%;
}

.marginleft{
  margin-left: 37%;
}



/*Cart*/

.WrapperCart{
    margin-top: 70px;
    padding: 20px;
    
}

.TitleCart{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    
}

.ContentCart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Product{
    display: flex;
    justify-content: space-between;
}

.ProductDetail{
    flex: 2;
    display: flex;
}

.ImageCart{
    width: 200px;
    margin-bottom: 20px;
}

.Details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.PriceDetail{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProductPrice{
    font-size: 30px;
    font-weight: 200;
}

.btnCart{
  margin-bottom: 20px;
  align-items: right;
}

.btnCart2{
  margin-bottom: 20px;
}

.btnsection{
  display: flex;
  justify-content: space-between;
}